.input-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  & input {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid var(--green);
    border-radius: 0.25rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
}
